<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/hypercubeb2c.onmicrosoft.com/</string>
	<key>clientId</key>
	<string>7bf688ce-8139-4ca8-9391-02fdb6f86d67</string>
	<key>scopes</key>
	<array>
		<string>7bf688ce-8139-4ca8-9391-02fdb6f86d67</string>
	</array>
	<key>additionalScopes</key>
	<array>
		<string></string>
	</array>
	<key>redirectUri</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>userId</key>
	<string>test@hypercubeb2c.onmicrosoft.com</string>
	<key>taskWebAPI</key>
	<string>https://kidventus.net/todoserver/tasks</string>
	<key>emailSignUpPolicyId</key>
	<string>B2C_1_todo_email_signup</string>
	<key>faceBookSignInPolicyId</key>
	<string>B2C_1_todo_facebook_signin</string>
	<key>emailSignInPolicyId</key>
	<string>B2C_1_todo_email_signin</string>
	<key>fullScreen</key>
	<false/>
	<key>showClaims</key>
	<true/>
</dict>
</plist>
