<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authority</key>
	<string>https://login.microsoftonline.com/kidventusb2c.onmicrosoft.com/</string>
	<key>clientId</key>
	<string>1fa27018-1a49-4521-851d-76004cb66ad8</string>
	<key>scopes</key>
	<array>
		<string>1fa27018-1a49-4521-851d-76004cb66ad8</string>
	</array>
	<key>additionalScopes</key>
	<array/>
	<key>redirectUri</key>
	<string>urn:ietf:wg:oauth:2.0:oob</string>
	<key>userId</key>
	<string>bwerner@kidventus.net</string>
	<key>taskWebAPI</key>
	<string>https://kidventus.net/todoserver/tasks</string>
	<key>emailSignUpPolicyId</key>
	<string>B2C_1_test_signup</string>
	<key>faceBookSignInPolicyId</key>
	<string>B2C_1_test_facebook_signin</string>
	<key>emailSignInPolicyId</key>
	<string>B2C_1_test_signin</string>
	<key>fullScreen</key>
	<false/>
	<key>showClaims</key>
	<true/>
</dict>
</plist>
